body {
    font-family: 'Circe', Arial, sans-serif; /* Шрифт похожий на оригинал */
    background-color: #f2f3f4; /* Светло-серый фон как на скрине */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

/* Стили формы */
.card {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    width: 100%;
    max-width: 400px;
}

h1 {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #555;
    font-size: 14px;
}

input, select {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 25px;
    font-weight: bold;
}

/* Стили билета */
.ticket-wrapper {
    background: white;
    padding: 40px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    width: 100%;
    max-width: 450px;
    text-align: center;
    box-sizing: border-box;
}

.success-text {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}

.ticket-details {
    margin-bottom: 30px;
}

.detail-row {
    font-size: 18px;
    color: #424242;
    margin-bottom: 10px;
}

.price-row {
    font-size: 32px;
    font-weight: bold;
    margin: 15px 0;
}

.timer-section {
    margin-bottom: 30px;
}

.timer-section p {
    font-size: 16px;
    color: #424242;
    margin-bottom: 5px;
}

.timer {
    font-size: 32px;
    font-weight: bold;
    color: #333;
}

.qr-section img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.info-text {
    font-size: 14px;
    color: #666;
    margin-bottom: 30px;
    line-height: 1.5;
}

.btn-download {
    background-color: #007bff;
    margin-top: 0;
}